<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arindam.alarmmanager">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application>

        <receiver android:name=".receiver.AlarmReceiver" />
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <service android:name=".service.AlarmService" />
    </application>
</manifest>